
body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: skyblue;
}

nav {
    background-color: #FFAF4C;
}

.jumbotron-fluid {
    height: 30rem;
}

.display-4 {
    color: #B26200;
}

.fab {
    font-size: 5rem;
    padding: 0 2rem;
    margin: 1rem 2rem;
}

.about {
    margin-top: -2rem;
    background-color: #FFAF4C;
}

.bioImage {
    width: 12rem;
}

.title {
    font-size: 3rem;
    margin: 3rem 0;
}

.text {
    font-size: 1.75rem;
    line-height: 2;
    padding: .5rem;
    height: 35rem;
    overflow: scroll;
}

/* Projects */

.card {
    margin: 2rem 0;
}

